
{{#*inline "title"}}{{movie.title}}{{/inline}}


  <article>
    <h1>{{movie.title}}</h1>
    <img alt="{{movie.title}} Poster" src="{{movie.posterUrl}}">
    
    <h2>Plot</h2>
    <p>{{movie.plot}}</p>
    
    <section>
      <h3>Info</h3>
      <dl>
        <dt>Year Released:</dt>
        <dd>{{movie.year}}</dd>
        <dt>Rated:</dt>
        <dd>{{movie.rated}}</dd>
        <dt>Runtime:</dt>
        <dd>{{movie.runtime}}</dd>
        <dt>Genre(s):</dt>
        <dd>{{movie.genre}}</dd>
        <dt>Box Office Earnings:</dt>
        <dd>{{movie.boxOffice}}</dd>
        <dt>DVD Release Date:</dt>
        <dd>{{movie.dvdRelease}}</dd>
      </dl>
    </section>
    
    <section>
      <h4>Cast and Crew</h4>
      <p><strong>Director:</strong> {{movie.director}}</p>
      <p><strong>Writer:</strong> {{movie.writer}}</p>
      <p><strong>Cast:</strong> {{movie.actors}}</p>
    </section>
    
    <section>
      <h4>Ratings</h4>
      <table class="my_coolratings_table">
        <tr>
          <th>Source</th>
          <th>Rating</th>
        </tr>
        {{#each movie.ratings}}
        <tr>
          <td>{{this.Source}}</td>
          <td>{{this.Value}}</td>
        </tr>
        {{/each}}
      </table>
    </section>
  </article>

