<div class="recipe_container">
  <h1>{{ recipe.name }}</h1>
  <p hidden>{{ recipe._id }}</p>
  <h2>Ingredients</h2>
    <ul class="recipe_ingredients_list">
      {{#each recipe.ingredients}}
        <li>{{this}} {{@key}}</li>
      {{/each}}
    </ul>
  <h2>Instructions</h2>
  <ol class="recipe_instructions_list">
    {{#each recipe.instructions}}
      <li>{{this}}</li>
    {{/each}}
  </ol>
</div>

<div class="review_container">
  <form id="add-review-form" method="POST" action="/recipe/{{recipe._id}}/review">
    <div class="review_text_container">
      <!-- Review Text -->
      <label for="reviewText">Review:</label>
      <input type="text" id="reviewText" name="reviewText" placeholder="Leave a review..." required>
      <br><br>

      <!-- Rating -->
      <div class="review_rating_container">
        <label for="rating">Rating:</label>
        <select id="rating" name="rating">
          <option value="">Please choose a rating</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
    <br><br>

    <!-- Submit Button -->
    <button type="submit" id="submit-review-button">Add Review</button>
  </form>
</div>

{{#if reviews}}
  <div class="recipe_reviews_container">
    <h2>Reviews</h2>
    {{#each reviews}}
      <div class="review_container">
        <ul class="review_list">
            <li><a href="/profile/{{this.reviewerId}}">{{this.userId}}</a></li>
            <li>{{this.reviewText}}</li>
            <li>Rating: {{this.rating}}</li>
        </ul>
        {{#if this.comments}}
          {{#each this.comments}}
            <div class="comment_container">
              <ul class="comment_list">
                <li>{{this.author}}</li>
                <li>{{this.comment}}</li>
              </ul>
            </div>
          {{/each}}
        {{/if}}
        <div class="comment_container">
          <form id="add-comment-form" method="POST" action="/recipe/{{this.recipeId}}/review/{{this._id}}/comment">
            <!-- Review Text -->
            <label for="commentText"></label>
            <input type="text" id="commentText" name="commentText" placeholder="Leave a comment..." required>
            <br><br>
            <!-- Submit Button -->
            <button type="submit" id="submit-comment-button">Add Comment</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<a href="/create-recipe">Add Another Recipe</a>
<script src="/public/js/recipe.js"></script>
