<h1>{{ recipe.name }}</h1>
<p>{{ recipe._id }}</p>

<h2>Ingredients</h2>
<ul>
  {{#each recipe.ingredients}}
    <li>{{this}} {{@key}}</li>
  {{/each}}
</ul>

<h2>Instructions</h2>
<ol>
  {{#each recipe.instructions}}
    <li>{{this}}</li>
  {{/each}}
</ol>

<form id="add-review-form" method="POST" action="/recipe/{{recipe._id}}/review">
  <!-- Review Text -->
  <label for="reviewText">Review:</label>
  <input type="text" id="reviewText" name="reviewText" placeholder="Leave a review..." required>
  <br><br>

  <!-- Rating -->
  <label for="rating">Rating:</label>
  <select id="rating" name="rating">
    <option value="">Please choose a rating</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br><br>

  <!-- Submit Button -->
  <button type="submit" id="submit-review-button">Add Review</button>
</form>

{{#if reviews}}
  <h2>Reviews</h2>
  {{#each reviews}}
    <ul>
        <li>{{this.reviewText}}</li>
        <li>Rating: {{this.rating}}</li>
        <li><a href="/profile/{{this.reviewerId}}">{{this.userId}}</a></li>
    </ul>
    {{#if this.comments}}
      <p>Comments</p>
      {{#each this.comments}}
        <ul>
          <li>{{this.author}}</li>
          <li>{{this.comment}}</li>
        </ul>
      {{/each}}
    {{/if}}
    <form id="add-comment-form" method="POST" action="/recipe/{{this.recipeId}}/review/{{this._id}}/comment">
      <!-- Review Text -->
      <label for="commentText">Comment:</label>
      <input type="text" id="commentText" name="commentText" placeholder="Leave a comment..." required>
      <br><br>
      <!-- Submit Button -->
      <button type="submit" id="submit-comment-button">Add Comment</button>
    </form>
  {{/each}}
{{/if}}

<a href="/create-recipe">Add Another Recipe</a>
