<div class="search-container">
    <section>
        <h2>Search Criteria: {{filter}}</h2>
    </section>
    <section>
        {{#if recipes.length}}
            <ul>
                {{#each recipes}}
                <li>
                    <h3><a href="/recipe/{{this._id}}">{{this.name}}</a></h3>
                    {{#if ../selectedFilter}}
                    {{#if (eq ../selectedFilter "dietary")}}
                    <p><strong>Dietary Needs:</strong> {{this.dietary}}</p>
                    {{else if (eq ../selectedFilter "ingredients")}}
                    <p><strong>Main Ingredients:</strong> {{this.ingredients}}</p>
                    {{else}}
                    <p><strong>Cuisine:</strong> {{this.cuisine}}</p>
                    {{/if}}
                    {{else}}
                    <p><strong>Cuisine:</strong> {{this.cuisine}}</p>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No recipes found matching your criteria. Please try different search parameters.</p>
        {{/if}}
    </section>
</div>