{{!-- User Dashboard --}}
<div id="userView">
    <p id="welcome">
        Welcome {{user.firstName}} {{user.lastName}}, the time is now: {{time}} and the current date is {{date}}.
        Your role in the system is: {{user.role}}.
    </p>
    <p id="quote">Favorite Quote: {{user.favoriteQuote}}</p>
    {{#if isAdmin}}
    <a id="adminLink" href="/administrator">Administrator Page</a>
    {{/if}}
    <a id="signoutLink" href="/signoutuser">Sign out</a>
</div>
